body {
    margin: 0;
    padding: 0;
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    display: block;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
}

.map-image {
    position: absolute;
    visibility: hidden;
}

.image-container:hover .map-image {
    visibility: visible;
}
